DB_DESTINATION_HOST=
DB_DESTINATION_PORT=
DB_DESTINATION_NAME=
DB_DESTINATION_USER=
DB_DESTINATION_PASSWORD=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=
MLFLOW_S3_ENDPOINT_URL=
MLFLOW_TRACKING_URI=http://127.0.0.1:5000
GRAFANA_USER=
GRAFANA_PASS=
MAIN_APP_PORT=8010
